body {background-color: rgb(241, 206, 224);}
h1{color:rgb(0, 5, 5) ;background-color: aqua;
    
}
p {color:rgb(4, 48, 83)}
#content {font-size: smaller;font-style: italic;}
h2{background-color: aqua;text-underline-position: below;}